project = "indigo-www-219415"
public_key_path = "~/.ssh/appuser.pub"
app_disk_image = "reddit-base-152222443515"
db_disk_image = "reddit-base-154122243201"
private_key_path = "~/.ssh/appuser"
zone = "us-central1-a"
vm_count = "1"
source_ip = "0.0.0.0/32"
env = "prod"
